<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=prueba;USER ID=PRUEBA&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>